environment                    = "dev"
location                       = "westeurope"
container_apps_location        = "polandcentral"
container_app_environment_name = "prozoro-banka-dev-cae-pl"


static_web_app_custom_domain                 = "www.prozorobanka.pp.ua"
static_web_app_custom_domain_validation_type = "cname-delegation"
api_custom_domain                            = "api.prozorobanka.pp.ua"

container_min_replicas = 0
container_max_replicas = 1
container_cpu          = 0.5
container_memory       = "1Gi"

additional_cors_allowed_origins = [
  "http://localhost:5173",
  "http://localhost:3000"
]

tags = {
  environment = "dev"
}
